mixin Features
  +Section.pt-4.pt-md-5
    .row.align-items-center
      .col-md-12.col-lg-12
        h2 HNP 프로젝트 코로나스크 소개
        p.lead.text-muted.mb-3  코로나는 2020년 초 코로나바이러스로 인한 마스크 5부제 시행으로 마스크를 구하기 어려워진 문제를 해결하기 위해 마스크 수량 검색 웹사이트를 개발했습니다.
        .row
          .col-6.pt-5
            img(src='assets/img/img_3.png' width="300" alt='')
            h5  손쉬운 재고 확인
            p.text-muted.mb-0
              | 공적 마스크 API를 사용해 주변 약국의 마스크 재고를 확인할 수 있습니다.
          .col-6.pt-5
            img(src='assets/img/img_4.png' width="300" alt='')
            h5 현위치 약국 즉시 확인
            p.text-muted.mb-0
              | 현위치를 기반으로 주변에 있는 약국 위치를 알 수 있습니다.
          .col-6.pt-5
            img(src='assets/img/img_5.png' width="300" alt='')
            h5 색깔별 마스크 즉시 확인
            p.text-muted.mb-0
              | 약국에 있는 마스크 재고를 색으로 표현해 한눈에 확인이 가능합니다.
          .col-6.pt-5
            img(src='assets/img/img_6.png' width="300" alt='')
            h5 현위치 약국 즉시 확인
            p.text-muted.mb-0
              | 위치 기반으로 검색된 약국의 마스크 재고를 즉시 확인하고 댓글로 소통이 가능합니다.
