mixin Footer
  +Section.pt-5.pb-5.bg-200
      .row
        .col-md-4
          p.text-500.mb-0.mt-2 &copy; 2021 HNP
        .col-sm-6.col-md-4.text-md-center
          a.fw-bold.fs-3.text-decoration-none.pt-3(href=`${CWD}index.html`)  HNP
        .col-sm-6.col-md-4.text-sm-right.mt-3.mt-sm-0.pt-1
          a.btn.btn-sm.btn-primary.mt-sm-2(href='#')
            |  지금 지원하기
