mixin Pricing
  +Section.bg-100.pt-0.pb-5.pb-md-7.pb-xl-9#pricing
    .row.justify-content-center
      .col-md-8.col-lg-6.text-center
        h1 우리는 열려 있습니다.
        p.lead.text-muted 다양한 기술 기반을 가진 포스텍영재기업인교육원 수료, 재원생을 모집합니다.
        a.btn.btn-primary.px-5(href='#')
          | 지금 지원하기

