mixin Stats
  +Section.pt-4.pt-md-5
    .row.justify-content-lg-between.align-items-center
      .col-lg-5
        img.img-fluid.mb-5(src=`${CWD}assets/img/img_2.png` alt='')
      .col-lg-6
        h2  구성원 소개
        p.lead.text-muted.mb-3  포스텍 영재 기업인 교육원 재원, 수료생으로 구성된 HNP를 소개합니다.
        .row
          .col-6.pt-5
            img.mb-3(src='assets/img/img.png'  width="80" height="80" alt='').teamImage
            h5 송원민
            p.text-muted.mb-0
              | 안녕하세요! HNP 전문 개발자 송원민입니다.
          .col-6.pt-5
            img.mb-3(src='assets/img/img.png'  width="80" height="80" alt='').teamImage
            h5 송원민
            p.text-muted.mb-0
              | 안녕하세요! HNP 전문 개발자 송원민입니다.
          .col-6.pt-5
            img.mb-3(src='assets/img/img.png'  width="80" height="80" alt='').teamImage
            h5 송원민
            p.text-muted.mb-0
              | 안녕하세요! HNP 전문 개발자 송원민입니다.
          .col-6.pt-5
            img.mb-3(src='assets/img/img.png'  width="80" height="80" alt='').teamImage
            h5 송원민
            p.text-muted.mb-0
              | 안녕하세요! HNP 전문 개발자 송원민입니다.

